VITE_API_URL=http://localhost:5000/api
VITE_GANACHE_CHAIN_ID=1337
VITE_GANACHE_RPC_URL=http://127.0.0.1:7545
VITE_GANACHE_CURRENCY_SYMBOL=ETH
VITE_CHAIN_NAME=Ganache Local
VITE_CONTRACT_ADDRESS=0xYOUR_DEPLOYED_CONTRACT_ADDRESS
